page-calendar {
    .monthview-selected {
        background-color: transparent !important;
        color: black !important;
      }

      .monthview-primary-with-event {
        background-color: #3a87ad !important;
        color: white !important;
      }
}
